# Default ignored files
/shelf/
/workspace.xml
/target/
.classpath
.project
.settings/
.idea/
*.iml
.vscode/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
